
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}
.logo img{
    width: 130px;
    object-fit: contain;
}
.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url('HD-wallpaper-artificial-intelligence-cyber-intelligence.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
}
.menu,.close{
    display: none;
}
.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav ul li{
    font-family:"Jost-Medium";
    font-weight: 500;
    font-size: 20px;
    color: #d6f1fe;
    text-transform: capitalize;
    margin-left: 50px;
    cursor: pointer;
    position: relative;
}
.nav ul li::after{
    content: '';
    position: absolute;
    top: -7px;
    left: -4px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    background: linear-gradient(45deg, #f6fbf4,#b8bab0);
    width: 0px;
    height: 0px;
    z-index: -1;
    transition: .5;
}
.nav ul li:hover::after{
    width: 40px;
    height: 35px;
}
.hero-section h1{
    font-family:"Jost-SemiBold";
    font-weight: 600;
    font-size: 75px;
    line-height: 95px;
    color: #ffffffe8;
    width: 530px;
    padding-bottom: 15px;
    text-transform: capitalize;
    position: relative;
}
.hero-section h1::after{
    content: '';
    position: absolute;
    top: -41px;
    right: 0px;
    background-image: url('G:\NEW WORK WEBSITE\html\image1.png.jpg');
    background-repeat: no-repeat;
    width: 165px;
    height: 180px;
}
.hero-section p{
    font-family:"Jost-Regular";
    font-weight: 400;
    font-size: 20px;
    color: #c5fa9c;
}
.hero-img img{
    height: 630px;
    margin-top: 90px;
    object-fit: contain;
    animation: move s infinite alternate;
}
@keyframes move {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}